.standingStyle {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    align-items: center;
    padding: 8px 5px;    
    border-bottom: 1px solid #C8102E;
    text-align: center;
}

.logo img{
    width: 10px;
}