.listTop {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 2px solid #FDB927;
    text-align: center;
    border-style: double;
}

.box {
    border: double 2px #FDB927;
    border-radius: 5px;
    padding: 10px;
    height: 750px;
    overflow-y: auto;
}